*, ::before, ::after
{
    box-sizing: border-box;
    padding: 0;
  margin: 0;
}


html {font-size: 62.5%;}

.heading {display: flex;
    position: fixed;
top:0;
width:100%;
height: 12vh;
min-height: 75px;
padding:  50px;
background-color: rgb(196, 232, 232);}

@media (max-width: 650px) {
  .heading {
    flex-wrap: wrap;
  }
}


#header-img {object-fit:cover;
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10vh;
    margin-top: 10px; 
}

@media (max-width: 660px) {
  #header-img {
    margin-left: -30px;
  }
}

#nav-bar {position: fixed;
    top:0;
    text-align: center;
    right: 0;
    font-size: 2rem;
    margin-top: 4vh;
    margin-right: 4vh;
}


@media (max-width: 660px) {
  #nav-bar {
    font-size: 1.0rem;
    overflow: auto;
  }
}


li {list-style: none;}

nav ul {display: flex;
    flex-direction: row;
padding-top: 20px;
justify-content: space-around;
width: 60vw;}

@media (max-width: 600px) {
  nav li {margin-top: -15px;
    margin-left: 15px;
    

  }
}

body {font-family: Raleway;
    font-size: 1.6rem;;
width: 100vw;
height: 100%;
background-color: azure;

}

@media (max-width: 660px) {
  body {
    font-size: 1.2rem;
  }
}


body p, body ul {font-family:sans-serif;}

.video {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;

}



h2::not(.product-container) {margin: 20px 0;
text-align: center;}

.product-container h2 {padding-bottom: 10px;
}

.benefits {text-align: center;
line-height: 2.8rem;
}

.benefits p {margin-top: 20px;
}

.features-list, .aio-list {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.features {border-bottom: 2px solid grey;
margin-bottom: 20px;}



.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:80%;
column-gap: 2rem;
margin: 0 auto;
padding-top: 30px;
padding-bottom: 30px;}

@media (max-width: 660px) {
  .product-container {
    flex-wrap: wrap;
    overflow:auto;
  }
}

.nuvo-15, .nuvo-20, .nuvo-25 {margin: 0 auto;}


form {padding-bottom: 20px;
margin: 0 auto;
display: block;
text-align: center;}

.form-text {font-size: 1.8rem;
font-weight: bold;
padding: 5px;}

@media (max-width: 660px) {
  .form-text {
    font-size: 1.4rem;
  }
}

a {color:black;
text-decoration: none;}

a:hover {color: rgb(196, 232, 232);
background-color: rgb(30, 87, 140);
border-radius: 3px;}

footer {padding:10px;
font-size: 1.2rem;
color:grey;}
footer a {color: grey;}

@media (max-width: 660px) {
  footer {
    font-size: 1.0rem; }
  }